@model X.PagedList.IPagedList<Car>
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body >

    <section class="hero spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="hero__text">
                        <div class="hero__text__title">
                            <span style="font-family: 'Roboto Slab', serif;">FIND YOUR DREAM CAR</span>
                            <h2 style="font-family: 'Roboto Slab', serif;">AfghanWheelz</h2>
                        </div>
                        <p>AfghanWheelz is the first-ever online platform to sell and buy used cars in Afghanistan. Now you can easily find your dream car with just one click.</p>
                    </div>
                </div>
                <div class="col-lg-6 d-flex align-items-start justify-content-end">
                    <!-- Updated to "align-items-start" -->
                    <div class="hero__tab">
                        <h2>Search Your Dream Car</h2>
                        <form method="get" action="@Url.Action("Index", "Cars")" class="custom-form">
                            <div class="form-group">
                                <input type="text" id="searchInput" class="form-control me-2" placeholder="Search by make, model, or description" name="searchTerm">
                                <button class="btn btn-primary btn-search" type="submit">Search</button>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="make">
                                    <option value="">Select Make</option>
                                    <option value="BMW">BMW</option>
                                    <option value="Honda">Honda</option>
                                    <option value="Toyota">Toyota</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="category">
                                    <option value="">Select Category</option>
                                    <option value="Electric">Electric</option>
                                    <option value="Hybrid">Hybrid</option>
                                    <option value="Gasoline">Gasoline</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" name="City">
                                    <option value="">Select City</option>
                                    <option value="Jalalabad">Jalalabad</option>
                                    <option value="Kunar">Kunar</option>
                                    <option value="Kabul">Kabul</option>
                                </select>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="minPrice" placeholder="Min Price">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" class="form-control" name="maxPrice" placeholder="Max Price">
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Apply Filters</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

       <div class="container">
        <div class="row">
            @foreach (var car in Model)
            {
                var imagePath = car.ImagePath.Replace("\\", "/");
                <div class="col-md-4 mb-4">
                    <div class="card shadow car-card">
                        <div class="position-relative overflow-hidden">
                            <img src="~/@imagePath" class="card-img car-img" alt="Car Image">
                            <span class="badge">New Arrival</span>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title car-title">@($"{car.Make} {car.Model}")</h5>
                            <p class="card-text car-details">
                                <strong>Price:</strong>  @car.Price <strong>(AFN)</strong><br />
                                <strong>Mileage:</strong> @car.Mileage <strong>(MPG)</strong> <br />
                                <strong>Location:</strong> @ViewBag.Location[car.Id].City <i class="fas fa-map-marker-alt"></i> <br />
                            </p>
                            <div class="text-center">
                                <a asp-controller="Home" asp-action="Details" asp-route-id="@car.Id" class="btn btn-outline-primary detail-btn">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row justify-content-center mt-4">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    @if (Model.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@Model.PageNumber - 1" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    }

                    @for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(Model.PageNumber == i ? "active" : "")">
                            <a class="page-link" href="?pageNumber=@i">@i</a>
                        </li>
                    }

                    @if (Model.HasNextPage)
                    {
                        <li class="page-item">
                            <a class="page-link" href="?pageNumber=@Model.PageNumber + 1" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>

    <section class="py-5 bg-light">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6 mb-4 mb-lg-0">
                    <div class="row">
                        <div class="col-6 mb-4">
                            <div class="featured-item text-center rounded shadow p-4">
                                <div class="featured-icon mb-3">
                                    <i class="fas fa-car fa-3x"></i>
                                </div>
                                <h5 class="font-weight-bold text-uppercase">BMW</h5>
                                <p class="text-muted">Discover the latest BMW models.</p>
                                <a href="@Url.Action("Index", "Cars", new { make = "BMW" })" class="btn btn-primary btn-sm">Explore</a>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="featured-item text-center rounded shadow p-4">
                                <div class="featured-icon mb-3">
                                    <i class="fas fa-car fa-3x"></i>
                                </div>
                                <h5 class="font-weight-bold text-uppercase">Toyota</h5>
                                <p class="text-muted">Explore the new Toyota lineup.</p>
                                <a href="@Url.Action("Index", "Cars", new { make = "Toyota" })" class="btn btn-primary btn-sm">Explore</a>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="featured-item text-center rounded shadow p-4">
                                <div class="featured-icon mb-3">
                                    <i class="fas fa-car fa-3x"></i>
                                </div>
                                <h5 class="font-weight-bold text-uppercase">Mercedes</h5>
                                <p class="text-muted">Luxury and performance in one.</p>
                                <a href="#" class="btn btn-primary btn-sm">View Models</a>
                            </div>
                        </div>
                        <div class="col-6 mb-4">
                            <div class="featured-item text-center rounded shadow p-4">
                                <div class="featured-icon mb-3">
                                    <i class="fas fa-car fa-3x"></i>
                                </div>
                                <h5 class="font-weight-bold text-uppercase">Audi</h5>
                                <p class="text-muted">Explore the Audi experience.</p>
                                <a href="#" class="btn btn-primary btn-sm">Discover More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="img-container rounded overflow-hidden shadow">
                        <img src="~/Images/cars/pexels-may-dayua-1545743 (1).jpg" class="img-fluid featured-photo" alt="Featured Image">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gallery py-5" id="gallery">
        <div class="container">
            <div class="row mb-5">
                <div class="col d-flex flex-wrap justify-content-center text-uppercase">
                    <h1 class="font-weight-bold mx-1 text-white align-self-center">our</h1>
                    <h1 class="section-title-special text-white mx-1">gallery</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="gallery-item">
                        <img src="~/Images/cars/pexels-markus-spiske-1729993.jpg" class="img-fluid gallery-img">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="gallery-item">
                                <img src="~/Images/cars/pexels-luis-quintero-3689531.jpg" class="img-fluid gallery-img">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item">
                                <img src="~/Images/cars/pexels-neil-kelly-712618.jpg" class="img-fluid gallery-img">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-6">
                            <div class="gallery-item">
                                <img src="~/Images/cars/pexels-natasha-filippovskaya-4665688.jpg" class="img-fluid gallery-img">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="gallery-item">
                                <img src="~/Images/cars/pexels-neil-kelly-712618.jpg" class="img-fluid gallery-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</body>
